<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Good news <em><%= @user.username %></em>,</h1>
    <p>
      There is a new wine bottle (<%= @bottle.name %>) that comply with one of your research:
      <ul>
        <% @search.search_params.map do |k,v| %>
          <li>
            <strong><%= k %>:</strong>
            <%= v %>
          </li>
        <% end %>
      </ul>
    </p>
    <p>
      To login to the site, just follow this 
      <a href="<%= @url %>">
      link
      </a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>