<%= form_with(model: saved_search, class: "contents") do |form| %>
  <% if saved_search.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(saved_search.errors.count, "error") %> prohibited this saved_search from being saved:</h2>

      <ul>
        <% saved_search.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.select(:user_id, options_for_select(User.all.map{|u| [u.username, u.id]}), {}, {class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", disabled: action_name != 'new'}) %>
  </div>

  <div class="my-5">
  <%= form.label :search_params, class: 'block' %>
    <%= form.text_field :search_params, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
