<div id="<%= dom_id bottle %>">
  <p>
    <strong>Name:</strong>
    <%= bottle.name %>
  </p>

  <p>
    <strong>Grape variety:</strong>
    <%= bottle.grape_variety %>
  </p>

  <p>
    <strong>Vintage:</strong>
    <%= bottle.vintage %>
  </p>

  <p>
    <strong>Sale url:</strong>
    <%= bottle.sale_url %>
  </p>

  <p>
    <strong>Thumb:</strong>
    <%= bottle.thumb %>
  </p>

</div>
